<!--
  Generated template for the ManulaAdjustmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ManualAdjustment</ion-title>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (submit)="submitAdjustment()">

    <!-- <ion-item>
      <ion-label fixed>Description</ion-label>
      <ion-input type="text" [(ngModel)]="adj.Description" name="Description"></ion-input>
    </ion-item>

 -->
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="adj.punch_date" name="punch_date"></ion-datetime>
    </ion-item>



    <ion-item>
      <ion-label>Time</ion-label>
      <ion-datetime displayFormat="HH:MM" [(ngModel)]="adj.punch_time" name="punch_time"></ion-datetime>
    </ion-item>

    <ion-item class="item-leave-height">
      <ion-label>Reader</ion-label>
      <ion-select [(ngModel)]="adj.reader_id" name="reader_id">
        <ion-option *ngFor="let item of readerList" value="{{item.READER_ID}}">{{item.READER_NAME}}</ion-option>
      </ion-select>
    </ion-item>




    <ion-item class="item-leave-height">
      <ion-label>Reasons</ion-label>
      <ion-select [(ngModel)]="adj.reason_id" name="reason_id">
        <ion-option *ngFor="let item of resons" value="{{item.reason_id}}">{{item.reason}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="item-leave-height">
      <ion-label>Punch Type</ion-label>
      <ion-select [(ngModel)]="adj.Punch_type" name="Punch_type">
        <ion-option value="0">OUT</ion-option>
        <ion-option value="1">IN</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label fixed>Notes</ion-label>
      <ion-input type="text" [(ngModel)]="adj.req_note" name="req_note"></ion-input>
    </ion-item>



    <div padding>
      <button ion-button round color="primary" block>submit</button>
    </div>


  </form>
</ion-content>